
<!-- nav -->
<nav class="navbar bg-body-tertiary ">
    <form class="container-fluid justify-content-start ">
        <button class="btn btn-outline-info me-2 " type="button" routerLink="">Employee Dashboard</button>
      <button class="btn btn-outline-warning me-2" type="button" routerLink="employeeform">Employee Form</button>
     
    </form>
  </nav>

<div class="heading mt-4">
    <h3 class="text-center text-primary">EMPLOYEE FORM</h3>
</div>
<div class="container mt-5">
    <form>
        <div class="row mb-3">
          <label for="fieldname" class="col-sm-2 col-form-label">Field name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control border-info" id="fieldname">
          </div>
        </div>

        <div class="row mb-3">
          <label for="designation" class="col-sm-2 col-form-label">Designation</label>
          <div class="col-sm-10">
            <input type="text" class="form-control border-info" id="designation">
          </div>
        </div>

        <div class="row mb-3">
            <label for="location" class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-10">
              <input type="text" class="form-control border-info" id="location">
            </div>
          </div>

          <div class="row mb-3">
            <label for="location" class="col-sm-2 col-form-label">Salary</label>
            <div class="col-sm-10">
              <input type="text" class="form-control border-info" id="location">
            </div>
          </div>
        
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    

</div>

